<div class="edit_wrapper">
  <h3 class="edit_user_title">プロフィール編集</h3>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.attachment_field :profile_image  %>
    </div>

    <div class="form-group">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ユーザー名", class:"form-controll" %>
    </div>

    <div class="form-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class:"form-controll" %>
    </div>

    <div class="form-group">
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "現在のパスワード（更新する場合はこの項目を必ず入力してください。）", class:"form-controll" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "新パスワード", class:"form-controll" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "新パスワードの確認", class:"form-controll" %>
    </div>

    <div class="form-group actions">
      <%= f.submit "更新", class:"btn btn-info update_btn" %>
    </div>
  <% end %>

  <p><%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete, class:"btn btn-danger user_destroy_btn" %></p>

</div>
