!!! 5
%html
  %head
    %title flux_tutorial
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    %link{ href: '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel: 'stylesheet' }/
    = javascript_include_tag 'application'
    = javascript_include_tag 'app/assets/javascripts/src/boot.js'
    = csrf_meta_tags
  %body
    - if user_signed_in?

      %header
        %div{class: "header-left"}
          = link_to "ホーム", root_path, class:"header-logo"
        %div{class:"header-right"}
          %ul{class: "nav nav-tabs"}
            %li{class: "search-user-btn"}
              = link_to "ユーザーを探す",  '/users/search'
            %div{class: "menu__wrapper"}
            %li{class: "dropdown"}
              %div{role: "button"}
                = current_user.name
                %span{class: "caret"}
              %ul{class: "dropdown-menu user-menu-box"}
                %li{class: "user-menu-list"}
                  = link_to "マイページ", user_path(current_user.id)
                %li{class: "user-menu-list"}
                  = link_to "ログアウト", destroy_user_session_path, method: :delete
    = yield

